
*{
background: linear-gradient(0.25turn, #5199b6, #89cde7, #627483);
border-radius: 10px;
border-width: 3px;
/* box-shadow: 2px 2px 2px red; */
padding-block-end: 2px;


}


.main{
    align-items: center;
    border: 2px solid #360a0a;
    width: 300px;
    height: 250px;
    margin: 10px auto;
    margin-top: 10%;
    flex: auto;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    
}

.result{
    margin-top: 5px;
    width: 290px;
    height: 30px;
    border-color: #141010;
    background-color: rgb(15, 14, 14);
    border: 2px solid #360a0a;

    color: rgb(15, 13, 13);
    cursor: pointer;
}

.clearBtn{
    cursor: pointer;
    height: 30px;
    width: 299px;
    margin-top: 10px;
    /* padding: 2px; */
    background-color: grey;
    border: 2px solid #360a0a;

}
.Btn{
    cursor: pointer;
    width: 70px;
    height: 30px;
    background-color: grey;
    border: 2px solid #360a0a;

    margin: 1px;
}
.halfbtn{
    cursor: pointer;
    border: 2px solid #360a0a;

    /* width: 95px; */
    width: 70px;
    height: 30px;
    background-color: grey;
    margin-top: 5px;
}